* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #root {
  font-family: 'Quicksand', sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

main article.container {
  display: flex;

  section.languages {
    width: 30%;
  }

  section.repositories {
    flex: 1;
    margin-left: 25px;
  }
}