section.languages {
  grid-area: languages;
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 10px;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;

    label.language {
      display: flex;
      align-items: center;
      cursor: pointer;
      
      span {
        margin-left: 8px;
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

section.languages input[type=search] {
  padding: 6px 4px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid #c9c9c9;
  margin-bottom: 10px;
}
